<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Seoul Bike Location Prediction</title>
    <link href="static/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="brand-title">SEOUL BIKE LOCATION PREDICTION</div>
        <div class="brand-subtitle">BORDAS ALEXANDRE & CARVAL NICOLAS</div>
        <div class="brand-logo"></div>
        <div class="result">Result : {{ prediction_text }}</div>

        <br />
        <form class="inputs" action="{{ url_for('predict')}}" method="post">

            <div class="inputsOptions">
                <div>
                    <label class="input_label" for="Hour">Hour</label>
                    <input type="number" name="Hour" id="Hour" placeholder=" ex : 8" autocomplete="off" min="0" max="23" required />
                </div>
                <div>
                    <label class="input_label" for="Temperature(°C)">Temperature (°C)</label>
                    <input type="text" name="Temperature(°C)" id="Temperature(°C)" placeholder=" ex : 24 " autocomplete="off" required />
                </div>
                <div>
                    <label class="input_label" for="Humidity(%)">Humidity (%)</label>
                    <input type="number" name="Humidity(%)" id="Humidity(%)" placeholder=" ex : 70" autocomplete="off" min="0" max="100" required />
                </div>
                <div>
                    <label class="input_label" for="Wind speed (m/s)">Wind speed (m/s)</label>
                    <input type="text" name="Wind speed (m/s)" id="Wind speed (m/s)" placeholder=" ex : 0.3" autocomplete="off" required />
                </div>
            </div>

            <div class="radios">
                <div class="radio_vis">
                    <label class="radio_title" for="visibility">Visibility</label>
                    <div class="radio_classic_content">
                        <input class="radio_input" type="radio" id="visibility" name="Visibility" value="1" checked>
                        <label class="radio_label" for="visibility">YES</label>
                        <input class="radio_input" type="radio" id="no visibility" name="Visibility" value="0">
                        <label class="radio_label" for="no visibility">NO</label>
                    </div>
                </div>

                <div class="radio_sun">
                    <label class="radio_title" for="sun">Sun</label>
                    <div class="radio_classic_content">
                        <input class="radio_input" type="radio" id="sun" name="Sun" value="1" checked>
                        <label class="radio_label" for="sun">YES</label>
                        <input class="radio_input" type="radio" id="no sun" name="Sun" value="0">
                        <label class="radio_label" for="no sun">NO</label>
                    </div>
                </div>

                <div class="radio_holiday">
                    <label class="radio_title" for="holiday">Holiday</label>
                    <div class="radio_classic_content">
                        <input class="radio_input" type="radio" id="holiday" name="Holiday" value="1">
                        <label class="radio_label" for="holiday">YES</label>
                        <input class="radio_input" type="radio" id="no holiday" name="Holiday" value="0" checked>
                        <label class="radio_label" for="no holiday">NO</label>
                    </div>
                </div>

                <div class="radio_snow">
                    <label class="radio_title" for="snow">Snow</label>
                    <div class="radio_classic_content">
                        <input class="radio_input" type="radio" id="snow" name="Snow" value="1">
                        <label class="radio_label" for="snow">YES</label>
                        <input class="radio_input" type="radio" id="no snow" name="Snow" value="0" checked>
                        <label class="radio_label" for="no snow">NO</label>
                    </div>
                </div>

                <div class="radio_rain">
                    <label class="radio_title" for="rain">Rain</label>
                    <div class="radio_classic_content">
                        <input class="radio_input" type="radio" id="rain" name="Rain" value="1">
                        <label class="radio_label" for="rain">YES</label>
                        <input class="radio_input" type="radio" id="no rain" name="Rain" value="0" checked>
                        <label class="radio_label" for="no rain">NO</label>
                    </div>
                </div>
            </div>
            <div class="radios_year">
                <div class="radio_season">
                    <div class="radio_season_content">
                        <input class="radio_input_season" type="radio" id="winter" name="season" value="Winter" checked>
                        <label class="radio_label_season" for="winter">WINTER</label>
                        <input class="radio_input_season" type="radio" id="spring" name="season" value="Spring">
                        <label class="radio_label_season" for="spring">SPRING</label>
                        <input class="radio_input_season" type="radio" id="summer" name="season" value="Summer">
                        <label class="radio_label_season" for="summer">SUMMER</label>
                        <input class="radio_input_season" type="radio" id="autumn" name="season" value="Autumn">
                        <label class="radio_label_season" for="autumn">AUTUMN</label>
                    </div>
                </div>
                <div class="month">
                    <label class="input_label" for="Month">Month</label>
                    <input type="number" name="Month" placeholder=" " min="1" max="12" autocomplete="off" required />
                </div>

            </div>
            <button type="submit">PREDICT</button>
        </form>
    </div>
    
</body>
  </html>